@model Butuc.Models.Book

<h2>Adaugă o carte nouă</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Titlu</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Autor</label>
        <input asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label>Editura</label>
        <input asp-for="Publisher" class="form-control" />
    </div>
    <div class="form-group">
        <label>Preț</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>URL Imagine</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Adaugă carte</button>
</form>
